{{ $num_posts := .Site.Params.num_posts | default 5 }}
<ul class="popular-list">
   {{ $posts := where .Site.RegularPages "Params.popular" "!=" nil | first $num_posts }}
   {{ range $posts }}
      <li>
         <div class="popular-card">
            <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
               <img src="{{ .Params.thumbnail | default "/assets/images/default-thumbnail.jpg" }}" width="64" height="64" loading="lazy" alt="{{ .Title }}" class="img-cover">
            </figure>
            <div class="card-content">
               <h4 class="headline headline-4 card-title">
                  <a href="{{ .Permalink }}" class="link hover-2">{{ .Title }}</a>
               </h4>
               <div class="warpper">
                  <p class="card-subtitle">{{ .ReadingTime }}</p>
                  <time class="publish-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>
               </div>
            </div>
         </div>
      </li>
   {{ end }}
</ul>
