{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" site.Params.mainSections) }}
{{ range $paginator.Pages }}
<li>
    <div class="recent-post-card">

        <figure class="card-banner img-holder" style="--width: 271; --height: 258;">
            {{ partial "block/thumbDesc.html" . }}
        </figure>

        <div class="card-content">

            {{ partial "block/tagsDesc.html" . }}

            <h3 class="headline headline-3 card-title">
                <a href="{{ .Permalink }}" class="link hover-2">{{ .Title }}</a>
            </h3>

            <p class="card-text">
                {{ .Summary }}
            </p>

            <div class="card-wrapper">
                <div class="card-tag">
                    {{ partial "block/tagsDesc.html" . }}
                </div>

                <div class="wrapper">
                    <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                    <span class="span">3 mins read</span>
                </div>
            </div>

        </div>

    </div>
</li>
{{ end }} 